# Template to Investigate Questions and Answers

This is a template that can be used to investigate investigate a question and answers to that question.

Instructions:

- You should change Question ID (integer value of variable `i`) and re-run the code.

In [1]:
# Import packages
import pandas as pd
import sqlalchemy as sqa

# Pandas options
pd.set_option("display.max_colwidth", None, "display.max_rows", 1000)

# Create a connection to the database.
db_engine = sqa.create_engine("sqlite:///data/mental_health.sqlite")

# List tables
sqa.inspect(db_engine).get_table_names()

['Answer', 'Question', 'Survey']

In [2]:
# Question ID (to change)
i = 89

# Result
print("Question:")
display(
    pd.read_sql(f" SELECT * FROM Question WHERE QuestionID = {i};", db_engine)
)

print("Value frequencies:")
pd.read_sql(
    f"""--sql
    SELECT AnswerText value, COUNT(AnswerText) as count
    FROM Answer 
    WHERE QuestionID = {i}
    GROUP BY AnswerText;
    """,
    db_engine,
)

Question:

         questiontext  questionid
0  What is your race?          89

Value frequencies:

                               value  count
0                                 -1    537
1   American Indian or Alaska Native      1
2                              Asian     31
3          Black or African American     15
4                          Caucasian      1
5                  European American      1
6                           Hispanic      1
7             I prefer not to answer     29
8         More than one of the above     35
9                              White    873
10                    White Hispanic      1